<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<h3>Members</h3>
<ul><% @team.members.each do |member| %>
    <li><%= link_to member.name, member %></li>
    <% end %>
</ul>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
