<p id="notice"><%= notice %></p>

<h3><%= @user.name %></h3>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h3><%= @user.name %> is part of the following teams</h3>
<ul><% @user.teams.each do |team| %>
    <li><%= link_to team.name, team %></li>
    <% end %>
</ul>



<%= link_to 'Edit this user', edit_user_path(@user) %><br>
<%= link_to 'All users', users_path %>
