<p>
  <b>Name</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b><br>
  <%= @project.description %>
</p>

<p>
  <b>Team:</b>
  <%= @project.team_id %>
</p>


<%= link_to "Add an item to this project", new_project_item_url(@project) %><br>


<%= link_to 'Edit', edit_project_url(@project) %><br>
<%= link_to 'All projects', projects_path %>
